/* Código CSS do cabeçalho do blog */
header {
	height: 100px;
	position: relative; /*para ajustar a posição do elemento button*/
	margin:	0 auto;
	background-color: #FFF;
}


.logo {
    text-indent: -9999px;
    height: 90px;
    width: 250px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: left;
    background-color: #FFF;
    background-size: 100%;
    float: left;
}


/* menu */

.site-nav {
	float: right;
}
nav.site-nav > ul {
	list-style: none;
    margin: 10px 0;
}


nav.site-nav > ul > li {
	display: inline;
	padding: 0px 14px;
	list-style: none;
}

nav.site-nav > ul > li > a {
	font-weight: 400;
	font-size: 18px;
	color: #008ec0;
	border: none;
}

.site-nav a:hover {
	font-weight: 800;
} 
.site-nav a:active {
	font-weight: 800;
} 

