/* -------- Banner Estático -------- */

.banner-static {
	margin: 0;
	box-sizing: border-box;
	width: 100%;
}

.banner-static img {
	width: 100%;
}


span.banner-legend {
	font-weight: 600;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    float: right;
    vertical-align: center;
    margin: auto auto;
    display: inline-block;
    width: 250px;
    z-index: 9999;
    position: absolute;
    right: 50px;
    /* bottom: 100px; */
    top: 40%;
}
