/* Importação de todos os CSS */
@import url('normalize.css');
@import url('fonts.css');
@import url('header.css');
@import url('index.css');

/* Setup básico de todo o site */
html, body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #a4c6df;
}


h1, h2, h3, h4 {
	font-size: 30px;
	color: #008ec0;
	text-align: center;
	font-weight: 600;
}

