<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title>Gama Blog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body ng-app="BlogApp">

		<div class="container">


			<header>

				<div class="navbar navbar-default">
					<a class="navbar-brand logo">Me da um preco</a>
					<!--<ul class="nav navbar-nav">
						<li ng-repeat="page in pages"><a href="#/page/{{ pages.indexOf(page) }}">{{ page.title }}</a></li>
					</ul>-->

					<nav class="site-nav">
						<ul>
							<li ng-repeat="page in pages"><a href="#/page/{{ pages.indexOf(page) }}">{{ page.title }}</a></li>
							<li><a href="index.html">Home</a></li>
							<li><a href="#">Atacado</a></li>
							<li><a href="#">Varejo</a></li>
							<li><a href="#">Quem somos</a></li>
							<li><a href="#">Contato</a></li>
						</ul>
					</nav>

				</div>


			</header>

			<div ng-controller="LeadCtrl" class="container">
				<div class="row">
					<div class="banner-static col-md-12 clearfix">
					  <img src="img/banner-mercado.png" />
					  <span class="banner-legend">
					   Tenha sempre conteúdo com o nosso blog
					  </span>
					</div>
				</div>
			</div>

			<!-- Form de assinatura -->
			<section class="container">
			  <form role="form" class="formContainer  col-md-8 col-md-offset-2">
			    <h4>Assine e receba antes nossos conteúdos</h4>
			        <div class="form-group">
			          <label class="label" for="nome"></label>
			          <input placeholder="NOME COMPLETO" ng-model="form.nome" type="text" id="nome" class="form-control">
			        </div>
			        <div class="form-group">
			          <label class="label" for="email"></label>
			          <input put placeholder="EMAIL" class="form-control" ng-model="form.email" type="text" id="email">
			        </div>
			        <input class="form-control btn btn-lg btn-download" type="button" value="ASSINE" ng-click="addLead(form)">
			  </form>
			</section>

			 <div class="container">
				<h4>Veja nossos conteúdos</h4>
				<div class="row">
					<div class="icons-lockup col-md-10 col-md-offset-1">
						<div class="icons icon-book">
						  <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
						</div>
						<div class="icons icon-info">
							<span class="glyphicon glyphicon-object-align-vertical" aria-hidden="true"></span>
						</div>
						<div class="icons icon-oque-fazemos">
							<span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
						</div>
						<div class="icons icon-whitepaper">
							<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
						</div>
						<div class="icons icon-webnars">
							<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
						</div>
					</div>
				</div>
			</div>

			<!-- <div ng-view></div> -->
			
			<!-- Formatação do Post-pequeno com imagem ao lado esquerdo -->
			<!--
			<section class="container post-img-left">
				<div class="row">
					<div class="col-md-6">
						<img class="post-img-left" src="img/erro-404.png" />
					</div>
					<div class="col-md-6 post-img-left">
						<h2 class="post-img-left">A Cool Headline</h2>
						<p class="post-img-left"> Aqui vai o parágrafo com o texto do marketing, que já iremos atualizar. Aqui vai o parágrafo com o texto do marketing, que já iremos atualizar </p>
					</div>
				</div>
			</section>
			-->

			<!-- Post-vertical-inteiro na pagina -->
			<section class="container">
				<article class="post-vertical">
					<h1>Como pesquisar preços da indústria, atacado e varejo</h1>
					<img src="img/postagens/artigo-1/pesquisar-preco.png" />
					<p>
						Como é o seu processo de pesquisa de preços? Está conseguindo descobrir corretamente o preço dos seus concorrentes? Seu negócio do Varejo é assertivo nos preços, seu atacado consegue descobrir os preços? E a sua indústria tem os preços dos concorrentes para uma melhor negociação? São muitas perguntas certo, mas elas têm uma razão específica.
					</p>
					<p>
						Se você é dono de algum negócio do ramo da indústria, atacado e varejo sempre se há a necessidade de saber os preços dos concorrentes. Isso porque o consumidor moderno está exigente, ele quer sempre a melhor opção. Caso seu negócio não seja a melhor opção rentável para ele naquele momento, com muita certeza ele vai pesquisar preços mais rentáveis.
					</p>
					<h2>Pesquise preços e fique preparado</h2>
					<p>
						Todo varejista, atacadista e indústria deve saber que precisa estar preparado, então é preciso que ele pesquise os preços e esteja preparado para uma eventualidade. Não deixar um abismo entre os preços aplicados pelos concorrentes  e os seus. 
					</p>
					<h3>Formas de pesquisar preços</h3>
					<img src="img/postagens/artigo-1/formas-de-pesquisar.jpg" />
					<p>
					Uma forma simples de se fazer a pesquisa de preços é a pesquisa informal. Comece a se atentar a clientes que façam algum tipo de reclamação nos preços aplicados pelo seu atacado, varejo ou indústria. Dessa forma você pode saber se seus clientes estão satisfeitos com os seus preços e pode se realizar até uma conexão com seu negócio e clientes.
					</p>
					<p>
					Outra forma simples de se conseguir uma pesquisa de preços é ir ao concorrente, mas você tem que estar disposto andar talvez alguns quilômetros, sabemos que andar faz bem à saúde, porém tudo tem hora e lugar, não é mesmo? Dessa forma não aconselhamos andar até os seus concorrentes para descobrir os preços. 
					</p>
					<p>
					Não! também não aconselhamos você a ser ou contratar um espião para descobrir os preços dos concorrentes, sério, não se arrisque com isso. 
					</p>
					<p>
					Algo interessante a se fazer, isto no caso do atacado e varejo, é conseguir os tablodeis dos concorrentes. Assim, se pode ter uma noção dos preços aplicados e saber qual estratégia de preços aplicar no seu negócio e ter uma boa e sadia competição. 
					</p>
				</article>
			</section>

			<section class="container">
				<article class="post-vertical">
					<!-- Conteúdo da postagem -->
				</article>
			</section>
			
			<!-- Form de assinatura -->
			<section class="container">
			  <form role="form" class="formContainer  col-md-8 col-md-offset-2">
			    <h4>Assine e receba antes nossos conteúdos</h4>
			        <div class="form-group">
			          <label class="label" for="nome"></label>
			          <input placeholder="NOME COMPLETO" ng-model="form.nome" type="text" id="nome" class="form-control">
			        </div>
			        <div class="form-group">
			          <label class="label" for="email"></label>
			          <input put placeholder="EMAIL" class="form-control" ng-model="form.email" type="text" id="email">
			        </div>
			        <input class="form-control btn btn-lg btn-download" type="button" value="ASSINE" ng-click="addLead(form)">
			  </form>
			</section>


			<!-- RODAPÉ-->
			<footer>
				<p>
				© Copyright 2001-2015 www.medaumpreco.com.br - All Rights Reserved
			  </p>
			 </footer>



		</div>

		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/angular.js"></script>
		<script src="js/angular-route.js"></script>
		<script src="app/app.js"></script>
		<script src="app/controllers.js"></script>
		<script src="app/directives.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
		<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
		<script>
			var config = {
				apiKey: "AIzaSyC_tQb9GwxNLRDA-68m9s50KNbeQN-b7oc",
				authDomain: "medaumpreco.firebaseapp.com",
				databaseURL: "https://medaumpreco.firebaseio.com",
				storageBucket: "medaumpreco.appspot.com",
				messagingSenderId: "1011415438016"
			};
			firebase.initializeApp(config);
		</script>
	</body>
</html>
