<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title>Gama Blog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body ng-app="BlogApp">

		<div class="container">

			
			<header>
				
				<div class="navbar navbar-default">
					<a class="navbar-brand logo">Me da um preco</a>
					<!--<ul class="nav navbar-nav">
						<li ng-repeat="page in pages"><a href="#/page/{{ pages.indexOf(page) }}">{{ page.title }}</a></li>
					</ul>-->
					<form class="form-inline">
						<nav class="site-nav">
							<ul>
								<li ng-repeat="page in pages"><a href="#/page/{{ pages.indexOf(page) }}">{{ page.title }}</a></li>
								<li><a href="index.html">Home</a></li>
								<li><a href="#">Atacado</a></li>
								<li><a href="#">Varejo</a></li>
								<li><a href="#">Quem somos</a></li>
								<li><a href="#">Contato</a></li>
							</ul>
						</nav>
					</form>
				</div>
				

			</header>
			

			<div ng-controller="LeadCtrl" class="container">
				<div class="row">
					<div class="banner-static col-md-12 clearfix">
					  <img src="img/banner-mercado.png">
					  <span class="banner-legend">
					   Tenha sempre conteúdo com o nosso blog
					  </span>
					</div>
				</div>
			</div>

			<section class="container">
			  <form role="form" class="formContainer">
			    <h4>RECEBA NOSSO CONTEUDO</h4>
			        <div class="form-group">
			          <label class="label" for="nome"></label>
			          <input placeholder="NOME" ng-model="form.nome" type="text" id="nome" class="form-control">
			        </div>
			        <div class="form-group">
			          <label class="label" for="email"></label>
			          <input put placeholder="EMAIL" class="" ng-model="form.email" type="text" id="email" class="form-control">
			        </div>
			        <input class="" type="button" value="ASSINE" ng-click="addLead(form)"></input>
			  </form>
			</section>

			 <div class="container">
				<h4>RECEBA NOSSOS DOWNLOADS</h4>
				<button type="button" class="btn btn-default btn-lg">
				  <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-object-align-vertical" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
				</button>
			</div>
			<div ng-view></div>
		</div>

		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/angular.js"></script>
		<script src="js/angular-route.js"></script>
		<script src="app/app.js"></script>
		<script src="app/controllers.js"></script>
		<script src="app/directives.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
		<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
		<script>
			var config = {
				apiKey: "AIzaSyC_tQb9GwxNLRDA-68m9s50KNbeQN-b7oc",
				authDomain: "medaumpreco.firebaseapp.com",
				databaseURL: "https://medaumpreco.firebaseio.com",
				storageBucket: "medaumpreco.appspot.com",
				messagingSenderId: "1011415438016"
			};
			firebase.initializeApp(config);
		</script>
	</body>
</html>
