<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title>Gama Blog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body ng-controller="LeadCtrl">

		<div class="container">

			<!--
			<header>

				<div class="navbar navbar-default">
					<a class="navbar-brand logo">Me da um preco</a>
					<!--<ul class="nav navbar-nav">
						<li ng-repeat="page in pages"><a href="#/page/{{ pages.indexOf(page) }}">{{ page.title }}</a></li>
					</ul>

					<nav class="site-nav">
						<ul>
							<li ng-repeat="page in pages"><a href="#/page/{{ pages.indexOf(page) }}">{{ page.title }}</a></li>
							<li><a href="index.html">Home</a></li>
							<li><a href="#">Atacado</a></li>
							<li><a href="#">Varejo</a></li>
							<li><a href="#">Quem somos</a></li>
							<li><a href="#">Contato</a></li>
						</ul>
					</nav>

				</div>


			</header>
		-->
		<header class="navbar navbar-light navbar-toggleable-md bd-navbar">

			<nav class="container">


			    <div class="d-flex justify-content-between hidden-lg-up">
			        <a href="#" class="navbar-brand logo">Me da um preco</a>
			      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bd-main-nav" aria-controls="bd-main-nav" aria-expanded="false" aria-label="Toggle navigation">
			        <span class="navbar-toggler-icon"></span>
			      </button>
			    </div>

			    <div class="collapse navbar-collapse" id="bd-main-nav">
			      <ul class="nav navbar-nav">
			        <li class="nav-item active">
			          <a class="nav-item nav-link " href="/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">Home</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-item nav-link active" href="/getting-started/introduction/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Atacado</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-item nav-link " href="/examples/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Varejo</a>
			        </li>
			      </ul>
			    </div>
			  </nav>

		</header>

			<section class="ldpage ldpage-ebook-wrap">
				<div class="row">
					<!-- Sessão texto explicativo-->
					<div id="description-wrap" class="col-sm-7 col-md-8">

						<!-- Título da sessão de texto -->
						<h1 class="ldpage-ebook text_white font_light text_left">Baixe agora o <br /> E-book GRATUITO.</h1>
						<h2 class="text_white text_left"><strong class="text_white">6 Formas de precificação do seu negócio</strong></h2>

						<!-- Descrição #1 -->
						<div class="description text_white">
							<h3 class="text_white font_light">Você Aprenderá</h3>
							<img src="img/ldpage/book.png" class="img-description" />

							<ol>
								<li>De acodo com o objetivo da empresa</li>
								<li>Baseado em custos</li>
								<li>De acordo com o valor percebido</li>
								<li>Giro & Margem</li>
								<li>De acordo com a marca.</li>
							</ol>

						</div>


						<!-- Botão da sessão de texto -->
						<div>
							<a id="description_btn" class="btn btn-primary btn-lg" href="#">Baixe agora!</a>
						</div>

					</div>

					<!-- Formulario -->
					<div id="form-ldpage" class="col-sm-5 col-md-4">

						<!-- Register Form -->
						<div class="form_register">
							<h2> Baixe agora </h2>

							<form method="get" action="files/6-formas-de-precificacao-no-seu-negocio.pdf">
								<div class="form-group">
									<label for="input-name"></label>
									<input type="text" class="form-control" id="input-name" ng-model="form.nome" placeholder="Nome">

									<label for="input-email"></label>
									<input type="email" class="form-control" ng-model="form.email" id="input-email" aria-describedby="emailHelp" placeholder="Email">
								 <!--<small id="emailHelp" class="form-text text-muted">Não compartilharemos seu e-mail com ninguém.</small>-->
								</div>
							<!--
							<form action="" class="row" method="post">
								<div id="input_name" class="col-md-12">
									<input id="name" class="form-control" type="text" name="first_name" placeholder="Nome">
								</div>
								<div id="input_email" class="col-md-12">
									<input id="email" class="form-control" type="text" name="email" placeholder="E-mail">
								</div> -->
								<!-- Botão enviar -->
								<div>
										<input id="form_register_btn" class="btn btn-primary btn-lg js-push-btn" type="submit" value="Enviar" ng-click="showDiv=true; addLead(form)" id="submit">
									<div ng-show="showDiv">
										Obrigado por baixar!
									</div>
								</div>

							</form>

						</div>
					</div>
					<!-- fim do formulario -->
				</div>
			</section>


			<!-- RODAPÉ-->
			<footer class="ldpage-ebook-wrap">
				<p>
				© Copyright 2017 www.medaumpreco.com.br - Todos os direitos reservados
			  </p>
			 </footer>



		</div>

		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/angular.js"></script>
		<script src="js/angular-route.js"></script>
		<script src="app/app.js"></script>
		<script src="app/controllers.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
		<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
		<script>
			var config = {
				apiKey: "AIzaSyC_tQb9GwxNLRDA-68m9s50KNbeQN-b7oc",
				authDomain: "medaumpreco.firebaseapp.com",
				databaseURL: "https://medaumpreco.firebaseio.com",
				storageBucket: "medaumpreco.appspot.com",
				messagingSenderId: "1011415438016"
			};
			firebase.initializeApp(config);
		</script>
	</body>
</html>
