<section class="container">
	<article class="post-vertical">
		<h1>Como pesquisar preços da indústria, atacado e varejo</h1>
		<img src="img/postagens/artigo-1/pesquisar-preco.png" />
		<p>
			Como é o seu processo de pesquisa de preços? Está conseguindo descobrir corretamente o preço dos seus concorrentes? Seu negócio do Varejo é assertivo nos preços, seu atacado consegue descobrir os preços? E a sua indústria tem os preços dos concorrentes para uma melhor negociação? São muitas perguntas certo, mas elas têm uma razão específica.
		</p>
		<p>
			Se você é dono de algum negócio do ramo da indústria, atacado e varejo sempre se há a necessidade de saber os preços dos concorrentes. Isso porque o consumidor moderno está exigente, ele quer sempre a melhor opção. Caso seu negócio não seja a melhor opção rentável para ele naquele momento, com muita certeza ele vai pesquisar preços mais rentáveis.
		</p>
		<h2>Pesquise preços e fique preparado</h2>
		<p>
			Todo varejista, atacadista e indústria deve saber que precisa estar preparado, então é preciso que ele pesquise os preços e esteja preparado para uma eventualidade. Não deixar um abismo entre os preços aplicados pelos concorrentes  e os seus.
		</p>
		<h3>Formas de pesquisar preços</h3>
		<img src="img/postagens/artigo-1/formas-de-pesquisar.jpg" />
		<p>
		Uma forma simples de se fazer a pesquisa de preços é a pesquisa informal. Comece a se atentar a clientes que façam algum tipo de reclamação nos preços aplicados pelo seu atacado, varejo ou indústria. Dessa forma você pode saber se seus clientes estão satisfeitos com os seus preços e pode se realizar até uma conexão com seu negócio e clientes.
		</p>
		<p>
		Outra forma simples de se conseguir uma pesquisa de preços é ir ao concorrente, mas você tem que estar disposto andar talvez alguns quilômetros, sabemos que andar faz bem à saúde, porém tudo tem hora e lugar, não é mesmo? Dessa forma não aconselhamos andar até os seus concorrentes para descobrir os preços.
		</p>
		<p>
		Não! também não aconselhamos você a ser ou contratar um espião para descobrir os preços dos concorrentes, sério, não se arrisque com isso.
		</p>
		<p>
		Algo interessante a se fazer, isto no caso do atacado e varejo, é conseguir os tablodeis dos concorrentes. Assim, se pode ter uma noção dos preços aplicados e saber qual estratégia de preços aplicar no seu negócio e ter uma boa e sadia competição.
		</p>
	</article>
</section>
