<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title>Gama Blog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="manifest" href="manifest.webmanifest">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body ng-controller="LeadCtrl">

			<header>
				<div class="navbar navbar-default">
					<div class="site-nav container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand logo">Me da um preco</a>
			    </div>
			    <ul class="nav navbar-nav">
			      <li class="active"><a href="#">Home</a></li>
						<!-- <li><a href="#">Atacado</a></li>
						<li><a href="#">Varejo</a></li> -->
						<li><a href="#/quem-somos">Quem somos</a></li>
						<li><a href="#/contato">Contato</a></li>
			    </ul>
			  </div>
							<!-- <li ng-repeat="page in pages"><a href="#/page/{{ pages.indexOf(page) }}">{{ page.title }}</a></li> -->
				</div>
			</header>


			<section class="ldpage-wrap">
				<div class="row">
					<!-- Sessão texto explicativo-->
					<div id="description-wrap" class="col-sm-7 col-md-7">

						<!-- Título da sessão de texto -->
						<h1><strong>Titulo negrito </strong> texto normal</h1>

						<!-- Descrição #1 -->
						<div class="description">
							<h4><i class="fa fa-check"></i> Lorem ipsum consectetur adipisicing dolor</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							      labore et dolore magna aliqua ullamco laboris aliquipea commodo consequat.
							</p>
						</div>

						<!-- Descrição #2 -->
						<div class="description">
							<h4><i class="fa fa-check"></i> Lorem ipsum dolor amet, consectetur adipisicing</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							      labore et dolore magna aliqua ullamco laboris aliquipea commodo consequat.
							</p>
						</div>

						<!-- Descrição #3 -->
						<div class="description">
							<h4><i class="fa fa-check"></i> Lorem ipsum dolor, consectetur adipisicing</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							      labore et dolore magna aliqua ullamco laboris aliquipea commodo consequat.
							</p>
						</div>

						<!-- Botão da sessão de texto -->
						<div class="">
							<a class="btn btn-primary btn-lg" href="#">Baixe agora!</a>
						</div>

					</div>

					<!-- Formulario -->
					<div id="form-ldpage" class="col-sm-5 col-md-5 animated fadeInRight">

						<!-- Register Form -->
						<div class="form_register">
							<h2> Register Now! </h2>

							<form action="" class="row" method="post">
								<!-- inserir nome -->
								<div id="input_name" class="col-md-12">
									<input id="name" class="form-control" type="text" name="first_name" placeholder="Nome">
								</div>
								<!-- inserir email-->
								<div id="input_email" class="col-md-12">
									<input id="email" class="form-control" type="text" name="email" placeholder="E-mail">
								</div>
								<!-- Botão enviar -->
								<div id="form_register_btn" class="text-center">
									<input class="btn btn-primary btn-lg" type="submit" value="Enviar" id="submit">
								</div>

							</form>

						</div>
					</div>
					<!-- fim do formulario -->
				</div>
			</section>


			<!-- RODAPÉ-->
			<footer>
				<p>
				© Copyright 2001-2015 www.medaumpreco.com.br - All Rights Reserved
			  </p>
			 </footer>

		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/angular.js"></script>
		<script src="js/angular-route.js"></script>
		<script src="app/app.js"></script>
		<script src="app/scripts.js"></script>
		<script src="app/controllers.js"></script>
		<script src="app/directives.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
		<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
		<script>
			var config = {
				apiKey: "AIzaSyC_tQb9GwxNLRDA-68m9s50KNbeQN-b7oc",
				authDomain: "medaumpreco.firebaseapp.com",
				databaseURL: "https://medaumpreco.firebaseio.com",
				storageBucket: "medaumpreco.appspot.com",
				messagingSenderId: "1011415438016"
			};
			firebase.initializeApp(config);
		</script>
	</body>
</html>
