<main class="mdl-layout__content">
  <div class="page-content mdl-grid">
    <div class="listaContainer mdl-cell mdl-cell--6-col">
      <h3>Leads</h6>
      <table class="mdl-data-table">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Nome</th>
            <th class="mdl-data-table__cell--non-numeric">Email</th>
            <th class="mdl-data-table__cell--non-numeric">Data</th>
            <th class="mdl-data-table__cell--non-numeric">Ip</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="lead in leads">
            <td class="mdl-data-table__cell--non-numeric">{{lead.nome}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{lead.email}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{lead.data}}//</td>
            <td class="mdl-data-table__cell--non-numeric">{{lead.ip}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</main>
