  <div class="row">
    <div class="banner-static col-md-12 clearfix">
      <img src="img/banner-mercado.png" />
      <span class="banner-legend">
       Tenha sempre conteúdo com o nosso blog
      </span>
    </div>
  </div>

<!-- Form de assinatura -->
<section class="container">
  <form role="form" class="formContainer  col-md-8 col-md-offset-2">
    <h4>Assine e receba antes nossos conteúdos</h4>
        <div class="form-group">
          <label class="label" for="nome"></label>
          <input placeholder="NOME COMPLETO" ng-model="form.nome" type="text" id="nome" class="form-control" required>
        </div>
        <div class="form-group">
          <label class="label" for="email"></label>
          <input put placeholder="EMAIL" class="form-control" ng-model="form.email" type="text" id="email" required>
        </div>
        <input class="form-control btn btn-lg btn-download js-push-btn" type="button" value="ASSINE" ng-click="showDiv=true; addLead(form)">
        <div ng-show="showDiv">
          Obrigado por assinar!
          Em breve receberá ótimos conteúdos
        </div>
  </form>
</section>

 <section class="container">
  <h4>Veja nossos conteúdos</h4>
  <div class="row">
    <div class="icons-lockup">
      <div class="icons icon-oque-fazemos">
      </div>
      <div class="icons icon-ebook">
      </div>
      <div class="icons icon-infografico">
      </div>
      <div class="icons icon-whitepaper">
      </div>
      <div class="icons icon-webinar">
      </div>
    </div>
  </div>
</section>

<div ng-include="template"></div>
<div class="fb-like" data-href="http://www.medaumpreco.com.br/#/post/{{ post.url }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
